{% include header.html %}
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8">
              <div class="article">
                <div class="well p-2 p-sm-2">
                  <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
                  <div class="post-meta">
                    <div class="post-time">
                      <i class="fa fa-calendar"></i>
                      <time>{{ page.date | date_to_string }}</time>
                    </div>
                    <ul>
                      {% for tag in page.tags %}
                        <li><a href="{{ '/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="post-content">
                    <div id="toc" class="toc"></div>
                    {{ content }}
                    {% include share.html %}
                  </div>

                  {% if page.comments %}
                  <div id="disqus_thread">
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                  </div>
                  {% endif %}
                </div>
                <div class="mt-3 bg-dark">
                  <p class="mx-auto">If you want me to make a post about something let me know!</p>
                  <blockquote class="mx-auto">
                    <p>“It's now very common to hear people say, 'I'm rather offended by that.' As if that gives them certain rights. It's actually nothing more... than a whine. 'I find that offensive.' It has no meaning; it has no purpose; it has no reason to be respected as a phrase. 'I am offended by that.' Well, so fucking what."</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Stephen Fry</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-md-4 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
        {% include disqus-comments.html %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
